/* *****************************************************************
VERSION MOBILE
***************************************************************** */

.team {
    margin: 8px;
}

.team h3 {
    border-bottom: 2px solid rgb(221, 9, 9);
}

.team img {
    width: 100%;
}

.teamComp {
    display: flex;
}

.teamates {
    margin: 10px auto;
}

/* *****************************************************************
VERSION TABLETTE
***************************************************************** */

@media screen and (min-width: 760px) {}

/* *****************************************************************
VERSION DESKTOP
***************************************************************** */

@media screen and (min-width: 1100px) {}