/* *****************************************************************
VERSION MOBILE
***************************************************************** */

.regles {
    margin: 10px;
    
}

.regles h3 {
    padding-bottom: 3px;
}

.regles ul {
    list-style-type: none;
    padding: 5px;
}

/* *****************************************************************
VERSION TABLETTE
***************************************************************** */

@media screen and (min-width: 760px) {}

/* *****************************************************************
VERSION DESKTOP
***************************************************************** */

@media screen and (min-width: 1100px) {}